.flexContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  padding-top: 75px;

  .shadow {
    position: absolute;
    top: 246;
    right: 616;
    z-index: 0;
    width: 650px;
    height: 60px;
    background: #9BA9B2;
  }
}