.Takeahike {
  margin-top: 50px;
  display: flex;

  .flexLeft {
    flex: 1;
  }
  .flexRight {
    flex: 1;
  }
  .flexMiddle {
    min-width: 780px;

    .outercabinet {
      border-top: 7px solid #33495F;
      border-left: 7px solid #33495F;
      border-right: 7px solid #33495F;
      padding: 15px 15px 0 15px;
      .innercabinet {
        border: 5px solid #33495F;
      }
    }

    .bottomtray {
      height: 60px;
      border-bottom: 7px solid #33495F;
      border-left: 7px solid #33495F;
      border-right: 7px solid #33495F;
    }
  }
}