.wrapper {
  position: relative;

  .Takeahike {
    margin-top: 100px;
    display: flex;

    .flexLeft {
      flex: 1;
    }
    .flexRight {
      flex: 1;
    }
    .flexMiddle {
      min-width: 780px;
      position: relative;

      .coffeecup {
        position: absolute;
        height: 70px;

        top: -70;
        left: 30;
      }

      .outercabinet {
        border-top: 7px solid #33495F;
        border-left: 7px solid #33495F;
        border-right: 7px solid #33495F;
        padding: 15px 15px 0 15px;
        .innercabinet {
          border: 5px solid #33495F;
        }
      }

      .bottomtray {
        height: 60px;
        margin-bottom: 20px;
        border-bottom: 7px solid #33495F;
        border-left: 7px solid #33495F;
        border-right: 7px solid #33495F;
      }
    }
  }

  .floor {
    height: 80px;
    border-top: 7px solid #33495F;
    background: #9BA9B2;
  }
}