.Takeahike {
  margin-top: 50px;
  display: flex;

  .flexLeft {
    flex: 1;
  }
  .flexRight {
    flex: 1;
  }
  .flexMiddle {
    min-width: 780px;

    .outercabinet {
      border-top: 5px solid #33495F;
      border-left: 5px solid #33495F;
      border-right: 5px solid #33495F;
      padding: 10px 10px 0 10px;
      .innercabinet {
        border: 5px solid #33495F;
      }
    }

    .bottomtray {
      height: 50px;
      border-bottom: 5px solid #33495F;
      border-left: 5px solid #33495F;
      border-right: 5px solid #33495F;
    }
  }
}