@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.flexContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  .flexContainer {
    z-index: 1;
    padding: 0 15px;
    display: flex;
    align-items: center;

  }
}

.wrapper {
  position: relative;
}

.shadow {
  position: absolute;
  top: 50;
  right: 20;
  z-index: 0;
  width: 650px;
  height: 60px;
  background: #9BA9B2;
}

.CommandLine {
  position: relative;
  z-index: 1;
  width: 650px;
  height: 50px;
  background: white;

  margin: 40px 0;

  font-family: 'Inconsolata', ;
  font-size: 24pt;
  color: #33495F;
  border: 5px solid #33495F;
  line-height: 35px;
}