@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .flexContainer {
    padding: 0 15px;
    display: flex;
    align-items: center;

  }
}

.CommandLine {
  width: 600px;
  height: 50px;

  margin: 40px 0;

  font-family: 'Inconsolata', ;
  font-size: 24pt;
  color: #33495F;
  border: 5px solid #33495F;
  line-height: 35px;
}