@import "src/assets/styles/fonts";

.flexContainer {
  display: flex;
  justify-content: center;
}

.sharedTitle {
  text-align: center;
  font-family: 'dosis';
  display: inline-block;
}

.title {
  font-family: Dosis;
  font-weight: 600;
  font-size: 72px;
  color: #3F864F;
  line-height: 91px;
}

.subtitle {
  font-family: Dosis;
  font-weight: 800;
  font-size: 130px;
  color: #3F864F;
  line-height: 60px;
  margin-left: 5px;
}

.insetText {
  span {
    color: #64A97B;
  }
}

.logo {
  height: 125px;
  display: inline-block;
}