@import "src/assets/styles/fonts";

.LanguageCard {
  text-align: left;
  min-width: 160px;
  min-height: 160px;
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid #395464;


  margin: 20px 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div {

    display: flex;
    justify-content: center;

    .image {
      max-width: 100px;
      max-height: 100px;
      padding-top: 15px;
      opacity: .3;
    }

  }

  &.selected {
    background: none;
    border: 2px solid white;

    &:hover {
      background: none;
    }
  }

  &:hover {
    cursor: pointer;

    .image {
      opacity: .8;
    }
  }
}