@import "src/assets/styles/fonts";

.LanguageCard {
  position: relative;
  text-align: left;
  min-width: 160px;
  min-height: 160px;
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid #395464;


  margin: 15px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .mask {
    position: absolute;
    z-index: 0;
    top: -2;
    right: 20;
    background: #9BA9B2;
    height: 165px;
    width: 120px;
  }

  div {

    z-index: 1;

    display: flex;
    justify-content: center;

    .image {
      max-width: 100px;
      max-height: 100px;
      padding-top: 25px;
      opacity: .3;
    }

  }

  &.selected {
    background: none;
    border: 2px solid white;

    &:hover {
      background: none;
    }
  }

  &:hover {
    cursor: pointer;

    .image {
      opacity: .8;
    }
  }
}