.NoChoiceCard {
  text-align: left;
  min-width: 160px;
  min-height: 160px;
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid #395464;

  margin: 15px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: #395464;
    line-height: 102px;
  }

  &.selected {
    background: none;
    border: 2px solid white;

    &:hover {
    }

    i {
      color: white;
    }
  }

  &:hover {
    cursor: pointer;
  }
}